.container {
    display: flex;
    height: 100vh;
    background-color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.layout {
    display: flex;
    flex-direction: column
}